body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #ccd5ae;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
}

.navbar a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccd5ae;
  padding: 20px 150px;
  color: #1b472d;
}

.header #name,
.header #Image {
  flex: 1;
  text-align: center;
}

.header #Image img {
  max-width: 100%;
  height: auto;
}

.header h1 {
  font-size: 80px;
  margin: 0;
  position: relative;
  animation: slide-in 2s ease-out forwards;
}

.header p {
  font-size: 25px;
  margin-top: 0;
}

@keyframes slide-in {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

/* Sections */
.section {
  padding: 20px;
  background-color: #fefae0;
}

.section h2 {
  text-align: center;
  padding-bottom: 10px;
}

.section p {
  text-align: center;
}

/* About */
#about {
  background-color: #e9edc9;
  padding: 20px;
}

.cv-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.cv-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Projects */
.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project div {
  width: 30%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.project-image:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px;
  }

  .header h1 {
    font-size: 60px;
  }

  .header p {
    font-size: 20px;
  }

  .navbar a {
    display: block;
    margin: 10px 0;
  }

  .project div {
    width: 45%;
  }

  .cv-button-container {
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 20px 10px;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 18px;
  }

  .project div {
    width: 100%;
    margin: 5px 0;
  }

  .project-image {
    opacity: 1; /* Remove hover effect on mobile */
  }

  .contact-item {
    font-size: 20px;
  }
  .contact a {
    font-size: 20px;
  }

  .contact a .fa {
    font-size: 25px;
  }

  .cv-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/* Contact Section */
.contact {
  text-align: center;
  padding: 20px;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.contact a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.contact a .fa {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background: #225838;
  color: white;
  width: 94%;
  bottom: 0;
}

/* Adjust project image hover effect */
.project-image:hover {
  opacity: 1; /* Highlight on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  .project div {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .project div {
    width: 100%;
    margin: 5px 0;
  }

  .project-image {
    opacity: 1; /* Remove hover effect on mobile */
  }
}
